{% load thumbnail %}
<section id="reviews">
    <div class="container">
        <div class='row'>
            <h2 class='fancy'><span>Отзывы клиентов</span></h2>
        </div>
        <div class="reviews-wrapper">
        {% for review in reviews %}
            <div class='review' class="col-xs-12">
                <div class="row">
                    <div class="review-photo col-xs-3 {% cycle '' 'pull-right' %}">
                        <div class="round-border-helper"></div>
                        {%  thumbnail review.image 200x200 crop upscale as thumb %}
                        <img class="img-circle  img-responsive" src="{{ thumb.url }}"/>
                    </div>
                    <div class='review-content col-xs-9'>
                        <p class='review-name grey_and_bold'>
                            {{ review.reviewer  }}
                        </p>
                        <div class="review-text">
                            {{ review.text|safe }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

